ansible==7.2.0
ansible-lint==6.12.1
ansible-pylibssh==1.1.0
asyncssh==2.13.0
awxkit==21.11.0
boto3==1.26.67
ciscoconfparse==1.7.14
cryptography==39.0.1
dnacentersdk==2.5.6
flake8==6.0.0
genie==23.1
jc==1.22.5
jtbl==1.5.0
napalm==4.0.0
netmiko==4.1.2
netutils==1.4.0
nornir==3.3.0
nornir-ansible==2022.7.30
nornir-jinja2==0.2.0
nornir-napalm==0.3.0
nornir-netbox==0.3.0
nornir-netmiko==0.2.0
nornir-utils==0.2.0
openpyxl==3.1.0
pyats[full]==23.1
pybatfish==2022.9.7.77
pylint==2.16.1
pymssql==2.2.7
pynetbox==7.0.1
pytest==7.2.1
rich==13.3.1
sqlmodel==0.0.8
ttp==0.9.2
