ansible==11.2.0
ansible-lint==25.1.2
ansible-pylibssh==1.2.2
asyncssh==2.19.0
awxkit==24.6.1
boto3==1.36.16
ciscoconfparse==1.9.52
cryptography==44.0.0
dnacentersdk==2.8.3
flake8==7.1.1
genie==25.1
jc==1.25.4
jtbl==1.6.0
napalm==5.0.0
netmiko==4.5.0
netutils==1.12.0
nornir==3.5.0
nornir-ansible==2023.12.28
nornir-jinja2==0.2.0
nornir-napalm==0.5.0
nornir-netbox==0.3.0
nornir-netmiko==1.0.1
nornir-utils==0.2.0
openpyxl==3.1.5
pyats[full]==25.1
pybatfish==2024.7.22.1569
pylint==3.3.4
pymssql==2.3.2
pynetbox==7.4.1
pytest==8.3.4
rich==13.9.4
sqlmodel==0.0.22
ttp==0.9.5
