name: CI to Docker Hub

on:
  push:
    branches: [ master ]

env:
  REGISTRY: docker.io
  IMAGE_NAME: michaelklose/netdevops
  USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  PASSWORD: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to registry ${{ env.REGISTRY }}
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ env.PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
        
      - name: Update README
        uses: ms-jpq/sync-dockerhub-readme@v1
        with:
          username: ${{ env.USERNAME }}
          password: ${{ env.PASSWORD }}
          repository: ${{ env.IMAGE_NAME }}
          readme: "./README.md"
